/* General
================================= */
input[type="text"]{
	display: block;
	margin: 0 auto;
	border-top: none !important;
	border-right: none;
	border-left: none;
	background: transparent;
}
.btn-group{
    width: 100%;
}
h1{
    display: block;
    text-align: center;
    margin: 5%;
}