input[type="text"] {
    display: block;
    border: none;
    border-bottom: 3px solid black;
    background: transparent;
    margin: 0 auto;
    text-align: center;
}

.center{
  text-align: center;
}

textarea:focus, input:focus{
    outline: none;
}

.initial {
  margin-top: 30%;
}

.pad5 {
  position: absolute;
  top:50%;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
